<h1>Weather Configuration from appsettings.json</h1>
<p>ClientId: @ViewBag.WeatherConfig.ClientId</p>
<p>ClientSecret: @ViewBag.WeatherConfig.ClientSecret</p>

<hr />
<h1>Settings from appsettings.json (OtherSettings)</h1>
<p>Key1: @ViewBag.OtherSettings.Key1</p>
<p>Key2: @ViewBag.OtherSettings.Key2</p>
