@model ControllerExamples.Model.DefaultInformations

<h1>Basic information from Partial View using Model Class</h1>
<partial name="_BasicInformationPartialView" model="@Model"></partial>

<hr />

<h1>Cities from City Partial View using ViewBag</h1>
<h3>Command: await Html.PartialAsync("_CityPartialView")</h3>
@await Html.PartialAsync("_CityPartialView")

<hr />
<h1>Using DI Instance testing for different Scoppes</h1>
<h3>Command: await Html.RenderPartialAsync("_DIExamplesPartialView")</h3>

@{
    await Html.RenderPartialAsync("_DIExamplesPartialView");
}
